*{
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 1;
}
.countryLocation{

    margin-left: 290px;
}
.aboutUs{
    margin-left: 50px;
    
}
#aboutUs{
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}
.navLi1{
    gap: 10px;
}
.navDiv2{
    width: 80%;
}
#search{
    width: 50px;
    /* height: 50px; */
    position: absolute;
    left: 1080px;
    bottom: 30px;
    
}
.lock{
    background-color: chocolate;
    color: white;
}
#input{
    height: 50px;
    border: none;
    margin-left: 30px;
    background-color: #f1f1f1;
}
.btnn{
    height: 50px;
    width: 400px;
    color: white;
    background-color: chocolate;
    border: 1px solid chocolate ;
}
.nav1{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
.sect1{
    background-color: #f1f1f1;  
}
*{
    margin: 0;
    padding: 0;
}
#help{
    color: chocolate;
    font-weight: 900;
}
.btnCar{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.btnCar:hover{
    background-color: white;
    color: black;
}
.btnCar2{
    background-color: chocolate;
    color: white;
    border: 2px solid chocolate;
}
.btnCar2:hover{
    background-color: white;
    color: black;
}
.card1, .card2, .card3, .card4{
    background-color: #a4c519;
    height: 200px;
    width: 300px;
    padding: 20px;
}
.card4{
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); 
}

.card2, .card3, .card4{
margin-left: 1px;
}
.card1:hover{
    border-bottom: 3px solid white;
}
.card2:hover{
    border-bottom: 3px solid white;
}
.card3:hover{
    border-bottom: 3px solid white;
}
.card4:hover{
    border-bottom: 3px solid white;
}
.mainP{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.cards{
    /* background-color: #e9e9e9; */
    position: absolute;
    top: 800px;
    right: 60px;
}
.latestNews{
    width: 20%;
    margin-left: 35px;
    background-color: #eeeeee;
    border-right: 8px solid chocolate;
}
.marquee{
    width: 80%;
    background-color: #e9e9e9;
}
.marqueeDiv{
    margin-top: 140px;
}
.borderA {
    width: 40%;
    height: 8px;
    background-color: #114c8d;

}

.borderB {
    width: 30%;
    height: 8px;
    background-color: #d32e12;
}

.borderC {
    width: 15%;
    height: 8px;
    background-color: #9bc002;
}

.borderD {
    width: 10%;
    height: 8px;
    background-color: #eb7824;
}

.borderE {
    width: 5%;
    height: 8px;
    background-color: #057a82;
}
h5{
    text-align: left;
}
.carP{
    text-align: left;
}
.spanP1{
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30.4px;
    vertical-align: baseline;
    
}
.span1{
    font-weight: 700;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-display: bold;
    line-height: 30.4px;
}
.spanP{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    vertical-align: baseline;
    letter-spacing: normal;
    text-indent: 0px;
}
.caro{
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-inline: 10vw;
    display: grid;
    align-items: center;
}
.slider{
    border: 1px solid red;
    
    
}
.caroSlide{
    background-image: url("./Assets/business-banking-slider_1.jpg");
}
.caroSlide1{
    background-image: url("./Assets/corporate-banking-slider_1.jpg");
}
.caroSlide2{
    background-image: url("./Assets/private-banking-slider_2.jpg");
}
.caroSlide3{
    background-image: url("./Assets/stop-fraud-slider.jpg");
}
.caroSlide4{
    background-image: url("./Assets/Homeearlysaverbanner.png");
}